<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragment :: siteHeader((~{::link}))"></div>
<div class="container mt-4" style="height: 500px">
    <h2>Customer List</h2>
    <a href="/customers/create" class="btn btn-success mb-3">Create New Customer</a>

    <!-- Customer Table -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, iterStat : ${customers}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.fullName}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td>
                <a th:href="@{/customers/{id}/update(id=${customer.id})}" class="btn btn-warning btn-sm">Update</a>
                <a th:href="@{/customers/{id}/delete(id=${customer.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragment :: siteFooter((~{::link}))"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
