<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragment :: siteHeader((~{::link}))"></div>
<h2>employees list</h2>
<form action="/employees/search" method="get">
    <label for="keyword">Search:</label>
    <br>
    <input type="text" id="keyword" name="keyword">
    <input type="submit" value="Search">
</form>
<br>
<a href="/employees/create">Create</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Booking</th>
    </tr>

    <tr th:each="employee, iterStat : ${employees}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.status ? 'Active' : 'Inactive'}"></td>
        <td>
            <a th:href="@{/employees/{id}/update(id=${employee.id})}">Update</a> |
            <a th:href="@{/employees/{id}/delete(id=${employee.id})}">Delete</a> |
            <a th:href="@{/employees/{id}/full(id=${employee.id})}">Full details</a>
        </td>
        <td th:switch="${employee.status}">
            <span th:case="true">
                <button><a th:href="@{/bookings/{id}/book(id=${employee.id})}">Book</a></button>
            </span>
            <span th:case="false">
                <button th:disabled="${employee.status == false}">Book</button>
            </span>
            <span th:case="*">
                <span>Unknown Status</span>
            </span>
        </td>

    </tr>

</table>
<div th:replace="fragment :: siteFooter((~{::link}))"></div>
</body>
</html>